<!DOCTYPE html>
<html lang="en">

    <% include _head %>
    <link href="/asset/css/account.css" rel="stylesheet">
    <body>

    <% include _menu %>
    <!-- Begin page content -->
    <div class="inner-container">
        <% include _account_left_block %>
        <div class="right_block">
            <p class="banner" style="text-align: left"> Account Setting </p>
                <%if(typeof account.local.email !== 'undefined'){ %>
                    <!-- LOCAL INFORMATION -->
                        <p>
                            <strong>Адрес электронной почты </strong>: <%= account.local.email %><br>
                        </p>
                <% } %>
                <% if(account.facebook.token || account.twitter.token || account.google.token){ %>
                    <h2 class="banner" style="text-align: left"> Подключенные аккаунты </h2>
                <% } %>
                <%if(typeof account.facebook.token !== 'undefined'){ %>
                    <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <p>
                        <strong>email</strong>: <%= account.facebook.email %><br>
                        <strong>name</strong>: <%= account.facebook.name %>
                    </p>
                <% } %>
                <%if(typeof account.twitter.token !== 'undefined'){ %>    
                    <!-- TWITTER INFORMATION -->
                    <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                    <p>
                        <strong>username</strong>: <%= account.twitter.username %><br>
                        <strong>displayName</strong>: <%= account.twitter.displayName %>
                    </p>
                <% } %>
                <%if(typeof account.google.token !== 'undefined'){ %>
                    <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                    <p>
                        <strong>email</strong>: <%= account.google.email %><br>
                        <strong>name</strong>: <%= account.google.name %>
                    </p>
                <% } %>
            <div>

        <%if(typeof account.local.email === 'undefined'){ %>
            <a href="/connect/local" class="btn btn-default">Connect Local</a>
        <% } %>

        <%if(typeof account.facebook.token !== 'undefined'){ %>
            <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
        <% } else { %>
            <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
        <% } %>

        <%if(typeof account.twitter.token !== 'undefined'){ %>   
            <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
        <% } else { %>
            <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
        <% } %>
        
        <%if(typeof account.google.token !== 'undefined'){ %>
            <a href="/unlink/google" class="btn btn-danger">Unlink</a>
        <% } else { %>
            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
        <% } %>
    </div>
        </div>
        </br></br>
    </div>

    <% include _footer %>
    </body>

</html>